@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "normal";
  font-weight: 900;
  src: url(/fonts/Mangaka.otf);
}
*{
  font-family: normal;
}
.greengradiente{
  background: rgb(2,0,36);
background: linear-gradient(118deg, rgba(2,0,36,0) 0%, rgba(142,218,159,0.3534663865546218) 100%);
}
.sbox{
  -webkit-box-shadow: 3px 5px 38px -24px rgba(0,0,0,0.56);
-moz-box-shadow: 3px 5px 38px -24px rgba(0,0,0,0.56);
box-shadow: 3px 5px 38px -24px rgba(0,0,0,0.56);
}
.ocultarbt{
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
  input[type=number] { -moz-appearance: textfield; }
}